<h1>Admins#new</h1>

<h1>Sign Up</h1>

<%= form_for @admin do |f| %>
  <% if @admin.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @admin.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= f.label :email %><br />
    <%= f.text_field :email, required: true, class:"form-control" %>
  </div>
  <div>
    <%= f.label :password %><br />
    <%= f.password_field :password, required: true, class:"form-control" %>
  </div>
  <div>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, required: true, class:"form-control" %>
  </div>
  <div class="button">
    <%= f.submit "Create Admin", class: "btn btn-primary" %>
  </div>
<% end %>
