
<div class="col-xs-10 col-xs-offset-1">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Add A Prayer Intention</h3>
    </div>
    <div class="panel-body">
       <%= form_for :comment do |f| %>
         <div class="form-field">
           <%= f.text_field :name, required: true, placeholder: "Name", class:"form-control" %>
            <em class="text-warning">Pls. put your initials or alias if your post is sensitive. Thank you.</em>
            <br />
         </div>
         <div class="form-field">
           <%= f.text_area :prayer_intention, required: true, placeholder: "Prayer intention", rows: 5, class:"form-control" %><br />
         </div>
         <div class="form-field">
           <%= f.hidden_field :prayer_id, placeholder: "Prayer id", class:"form-control" %>
         </div>
         <div>
           <%= f.label :humanizer_answer, @comment.humanizer_question %>
           <%= f.text_field :humanizer_answer %><br />
           <%= f.hidden_field :humanizer_question_id %><br />
         </div>
         <div class="form-field prayer-show-post-button">
           <%= f.submit "Submit", class: "btn btn-block btn-success prayer-show-comment-button"%>
         </div>
       <% end %>
    </div>
  </div>
</div>
