<h1>Welcome to Prayers#Index</h1>

Put Searchbox (Pending)

Display Links to Prayers

<div class="prayer-list">
  <% @prayers.each do |prayer| %>
    <div class="row">
        <div class="col-sm-4 col-md-5">
          <%= image_tag prayer.image, :class => "img-responsive" %>
        </div>
        <div class="col-sm-8 col-md-7">
          <p class="list-group-item-text">
          <%= link_to prayer_path(prayer) do %>
            <strong>Title:</strong> <%= prayer.title %><br />
          <% end %>
            <strong>Text:</strong> <%= prayer.text %><br />
          </p>
        </div>
    </div>
    <br />
    <br />
  <% end %>
</div>

<div>
  <%= link_to "New Prayer", new_prayer_path %>
</div>
