<h3>All prayers</h3>
<div class="col-xs-10 col-xs-offset-1">
  <div class="panel panel-default">
    <div class="panel-heading">
      <%= form_tag prayers_path, :method => 'get', id: "search-form" do %>
        <div>
          <%= text_field_tag :search, params[:search], size: 30, placeholder: 'Search prayers', class: "form-control" %>
        </div>
        <div class="search_button">
        <%= submit_tag "Search", :name => nil, class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<% if current_admin %>
<div class="col-xs-10 col-xs-offset-1">
  <div class="panel panel-default">
    <div class="panel-heading">
        <div>
          <%= link_to "Add a new prayer", new_prayer_path %>
        </div>
    </div>
  </div>
</div>
<% end %>
<br />
<div>
  <% if @prayers.present? %>
    <%= render "prayer" %>
  <% else %>
  <div class="col-xs-10 col-xs-offset-1">
    <div class="panel panel-default">
      <div class="panel-heading">
        <p>There are no posts containing the term(s) <%= params[:search] %>.</p>
      </div>
    </div>
  </div>  
  <% end %>
</div>
