<div class="row">
    <div class="col-md-12" >
      <div id="prayer-image-show">
      <%= image_tag @prayer.image %><br />
      </div>
      <div>
       <h4>Title: <%= @prayer.title %></h4>
      </div>
      <div>
        <strong>Text:</strong> <p style="white-space: pre-wrap"><%= @prayer.text %></p>
      </div>
    </div>
</div>

<%= link_to "Add a Prayer Intention", new_prayer_comment_path(@prayer) %>

<% if current_admin %>
<div>
  <%= link_to "Edit prayer", edit_prayer_path %><br />
  <%= link_to "Delete prayer","/prayers/" + @prayer.id.to_s , method: :delete %><br />
  <%= link_to "See all prayers", prayers_path %>
</div>
<% end %>
