<div class="prayer-show-container container" id="prayer-show">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-4 col-xs-12 thumbnail saint-image" id="prayer-image-show">
            <%= image_tag @prayer.image, :class => "img-responsive" %><br />
          </div>

          <div class="col-md-8 col-xs-12">
            <p class="list-group-item-text">
              <div>
                <h4>Title: <%= @prayer.title %></h4>
              </div>
              <div>
                <strong>Text:</strong> <p style="white-space: pre-wrap"><%= @prayer.text %></p>
              </div>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br />
<div class="container">
  <% if current_admin %>
    <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-default">
        <div class="panel-body">
          <div>
            <%= link_to "Edit prayer", edit_prayer_path %><br />
            <%= link_to "Delete prayer","/prayers/" + @prayer.id.to_s, method: :delete %><br />
            <%= link_to "See all prayers", prayers_path %><br />
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="container">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= link_to "Add a Prayer Intention", new_prayer_comment_path(@prayer) %>
      </div>
    </div>
  </div>
</div>


<div class="comment-list-container container">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <% @prayer.comments.each do |c| %>
            <div class="col-md-12">
              <div>
                <h4>Name:</h4>
      				  <p><%= c.name %></p>
              </div>
              <div>
                <h4>Prayer Intention:</h4>
                <p><%= c.prayer_intention %></p>
              </div>
              <div>
        				<p class="small pull-right comments-show-post-date">posted <%= time_ago_in_words(c.created_at) %> ago</p><br />
              </div>
              <div>
                <% if current_admin %>
                  <%= link_to "Edit prayer intention", '/prayers/' + @prayer.id.to_s + '/comments/' + c.id.to_s + '/edit' %><br />
                  <%= link_to "Delete prayer intention", '/prayers/' + @prayer.id.to_s + '/comments/' + c.id.to_s, method: :delete %>
                <% end %>
              </div>
              <hr>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>
