<h2>Categories#index</h3>
<p>Find me in app/views/categories/index.html.erb</p>
<div>
  <%= form_tag('/categories', :method=>:get) do %>
    <div>
    <%= select_tag "id", options_from_collection_for_select(Category.all, "id", "cat_name", params[:id]) %>
    </div>
    <div class="search_button">
    <%= submit_tag "Search Categories", :name => nil, class: "btn btn-primary" %>
    </div>
  <% end %>

  <% if @prayers.present? %>
    <%= render "category" %>
  <% else %>
    <p>There are no prayers containing the term(s) <%= params[:search] %>.</p>
  <% end %>
  <br />

  <% if current_admin %>
    <%= link_to "Add New Category", new_category_path %>
  <% end %>
</div>
