<!DOCTYPE html>
<html>
<head>
  <title>PrayerlyApp</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <ul class="nav navbar-nav">
            <li><a class="navbar-root" href="/">Prayerly</a></li>
          </ul>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <div id="admin_nav">
              <% if current_admin %>
                Logged in as <%= current_admin.email %>
                <%= link_to "Log out", log_out_path %>
              <% else %>
                <%= link_to "Sign up", sign_up_path %> or
                <%= link_to "Log in", log_in_path %>
              <% end %>
          </div>
        </ul>
      </div> <!--container-fluid-->
    </nav>
    <div class="container <%= controller_name %>_<%= action_name %>">
      <div>
        <% flash.each do |key, value| %>
          <div class="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>

            <%= value %>
  ​
          </div>
        <% end %>
      </div>

      <%= yield %>

    </div>

</body>
</html>
