<!DOCTYPE html>
<html>
<head>
  <title>PrayerlyApp</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Prayerly</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
          <ul class="nav navbar-nav navbar-right">
            <li>
              <% if !current_admin %>
              <li><%= link_to "Prayers", prayers_path %></li>
              <li><%= link_to "Candles", root_path%></li>
              <% end %>
            </li>
            <li>
              <% if current_admin %>
                <li>Logged in as <%= current_admin.email %></li>
                <li><%= link_to "Log out", log_out_path %></li>
              <% else %>
                <li><%= link_to "Sign up", sign_up_path %></li>
                <li><%= link_to "Log in", log_in_path %></li>
              <% end %>
            </li>
         </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="container <%= controller_name %>_<%= action_name %>">
      <div>
        <% flash.each do |name, msg| %>
            <div class="alert">
              <%= msg %>
            </div>
        <% end %>
      </div>

      <%= yield %>

    </div>

</body>
</html>
