<!DOCTYPE html>
<html>
<head>
  <title>PrayerlyApp</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Prayerly</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->

          <div class="nav navbar-nav navbar-right" >
              <li>
                <% if !current_admin %>
                <li><%= link_to "All Categories", root_path %></li>
                <li><%= link_to "All Prayers", prayers_path %></li>
                <% end %>
              </li>
              <li>
                <% if current_admin %>
                  <li><%= link_to "All Categories", root_path %></li>
                  <li><%= link_to "All Prayers", prayers_path %></li>
                  <li id="current_admin_list">Logged in as <%= current_admin.email %></li>
                  <li><%= link_to "Log out", log_out_path %></li>
                <% else %>
              </li>
              <li>
                <li><%= link_to "Admin log-in", '/log_in' %></li>
              </li>
              <% end %>
         </div>
      </div><!-- /.container-fluid -->
    </nav>

    <div class="container-fluid">
      <div class="col-xs-10 col-xs-offset-1">
        <% flash.each do |name, msg| %>
          <div class="alert alert-<%= name %>">
              <%= msg %>
          </div>
        <% end %>
      </div>
      <div>
        <%= yield %>
      </div>
    </div>

</body>
</html>
